<div class="banner mb-3">
  <h1>Welcome to the CineMeow</h1>
</div>
<div class="d-flex mb-4">
  <%= link_to "Create New List", new_list_path, class: "btn btn-danger ms-auto" %>
</div>
<div class="row g-4">
  <% @lists.each do |list| %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card bg-secondary rounded-3" style="width: 18rem">
        <% if list.photo.attached? %>
          <%= cl_image_tag list.photo.key, class: "card-img-top" %>
        <% else %>
          <%= image_tag "placeholder.jpg", class: "card-img-top" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between align-items-center">
            <%= link_to list.name, list_path(list) %>
            <%= link_to list_path(list),
                class: "text-danger",
                data: {
                  turbo_method: :delete,
                  turbo_confirm: "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH please don't delete me..."
                } do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </h5>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%# # container-fluid spans the full width of the screen
<%# # px is horizontal padding %>
<%# # me-5 (margin-end) pulls img away from the end %>
<%# # ms-auto only works in flex box %>
<%# Instead of a <ul>, use Bootstrap's grid to display cards next to eachother %>
<%# when using class write like this
class: "ms-auto me-5"%>
<%# the examople before is below %>
<%# <div class ="banner">
  <%# <h1>Welcome to Wagon Watchlist</h1>
</div>
<div class="container-fluid px-5">
  <div class= "d-flex justif-content-between align-items-center mt-3 mb-3">

    <%# <%= link_to "Create a new list", new_list_path, class: "ms-auto me-5" %>
<%# </div>



        <%# <div class="col-md-4 mb-4">

      <%# <li><%= link_to list.name, list_path(list) %>
<%# the syntax order for adding classes to links link_to "Text", path, class: "...", data: { ... } %>
