<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1><%= @list.name %></h1>
    <%= link_to "Add a bookmark", new_list_bookmark_path(@list), class: "btn btn-danger" %>
    <%= link_to "Home", lists_path %>
  </div>
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-md-3 mb-4">
        <!--  Card -->
        <div class="card h-100"
         style="cursor: pointer;"
         data-bs-toggle="modal"
         data-bs-target="#movieModal<%= bookmark.id %>">
          <%= image_tag bookmark.movie.poster_url, class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= bookmark.movie.title %></h5>
            <p class="card-text"><%= bookmark.comment %></p>
          </div>
        </div>
        <!-- Remove button -->
        <%= link_to "Remove", bookmark_path(bookmark),
        class: "btn btn-outline-danger mt-2 w-100 delete-link",
        data: {
          turbo_method: :delete,
          turbo_confirm: "NOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO"
        } %>
      </div>
      <!-- Modal to expand when clicked-->
      <div class="modal fade"
       id="movieModal<%= bookmark.id %>"
       tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                <%= bookmark.movie.title %>
              </h5>
              <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <%= image_tag bookmark.movie.poster_url,
              class: "img-fluid rounded mb-3" %>
              <h6>Your Comment</h6>
              <p><%= bookmark.comment %></p>
              <hr>
              <h6>Description</h6>
              <p><%= bookmark.movie.overview %></p>
              <p>⭐ <%= bookmark.movie.rating %>/10</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
